CREATE DATABASE `weather`;

CREATE TABLE `ControlTable` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `Sun` int(11) NOT NULL DEFAULT '0',
  `Wind` int(11) NOT NULL DEFAULT '0',
  `Indoor` float NOT NULL,
  `Outdoor` float NOT NULL,
  `Boiler` float NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=4120 DEFAULT CHARSET=latin1;

CREATE TABLE `CycleStatistics` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `CycleStart` datetime DEFAULT NULL,
  `BoilerRequired` float DEFAULT NULL,
  `IsHeating` bit(1) DEFAULT NULL,
  `CycleLength` int(11) DEFAULT NULL,
  `Result` smallint(6) DEFAULT NULL,
  `MaxDelta` float DEFAULT NULL,
  `Delta` float DEFAULT NULL,
  `AvgRadioOutdoor` float DEFAULT NULL,
  `LastRadioOutdoor` float DEFAULT NULL,
  `AvgRadioBoiler` float DEFAULT NULL,
  `LastRadioBoiler` float DEFAULT NULL,
  `AvgRadioBedroom` float DEFAULT NULL,
  `LastRadioBedroom` float DEFAULT NULL,
  `AvgRadioLounge` float DEFAULT NULL,
  `LastRadioLounge` float DEFAULT NULL,
  `AvgRadioMansard` float DEFAULT NULL,
  `LastRadioMansard` float DEFAULT NULL,
  `AvgRadioStudy` float DEFAULT NULL,
  `LastRadioStudy` float DEFAULT NULL,
  `AvgDirectBoiler` float DEFAULT NULL,
  `LastDirectBoiler` float DEFAULT NULL,
  `AvgDirectIndoor` float DEFAULT NULL,
  `LastDirectIndoor` float DEFAULT NULL,
  `AvgDirectOtdoor` float DEFAULT NULL,
  `LastDirectOtdoor` float DEFAULT NULL,
  `GlobalSun` float DEFAULT NULL,
  `GlobalWind` float DEFAULT NULL,
  `GlobalOutdoor` float DEFAULT NULL,
  `LoungeHumidity` float DEFAULT NULL,
  `MansardHumidity` float DEFAULT NULL,
  `StudyHumidity` float DEFAULT NULL,
  `AvgRadioKitchen` float DEFAULT NULL,
  `LastRadioKitchen` float DEFAULT NULL,
  `KitchenHumidity` float DEFAULT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=2355 DEFAULT CHARSET=latin1;

CREATE TABLE `TemperatureSettings` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `WeekDay` int(11) DEFAULT NULL,
  `Hour` int(11) DEFAULT NULL,
  `Temperature` float DEFAULT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=1513 DEFAULT CHARSET=latin1;

CREATE TABLE `SensorTable` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `SensorId` int(11) NOT NULL,
  `SensorIdentifier` varchar(20) NOT NULL,
  `UseForCalc` tinyint(4) DEFAULT NULL,
  `IsIndoor` tinyint(4) DEFAULT NULL,
  `IsOutdoor` tinyint(4) DEFAULT NULL,
  `IsDirect` tinyint(4) DEFAULT NULL,
  `CorrectionCoefficient` float NOT NULL DEFAULT '1',
  `Shift` float NOT NULL DEFAULT '0',
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=4100 DEFAULT CHARSET=latin1;

delete FROM weather.ControlTable;
INSERT INTO `weather`.`ControlTable` (`Indoor`, `Outdoor`, `Boiler`) VALUES (20, 20, 20);
INSERT INTO `weather`.`ControlTable` (`Indoor`, `Outdoor`, `Boiler`) VALUES (20, 10, 28);
INSERT INTO `weather`.`ControlTable` (`Indoor`, `Outdoor`, `Boiler`) VALUES (20, 0, 36);



delete FROM weather.SensorTable;
INSERT INTO `SensorTable` VALUES (4090,1,'113',1,0,1,0,1,0);
INSERT INTO `SensorTable` VALUES (4091,2,'142',1,1,0,0,1,0);
INSERT INTO `SensorTable` VALUES (4092,3,'179',0,0,0,0,1,0);


delete FROM weather.TemperatureSettings;
INSERT INTO `TemperatureSettings` VALUES (1345,1,0,20);
INSERT INTO `TemperatureSettings` VALUES (1346,1,1,20);
INSERT INTO `TemperatureSettings` VALUES (1347,1,2,20);
