
@media screen and (max-width: 950px) {
    .dropdown-toggle {
        display: none;
    }

    .dropdown-menu {
        display: block;
        position: relative;
        border-width: 0;
        padding: 0;
        margin: 0;
    }

    .dropdown-item {
        padding: .5rem 0rem;
    }
}

.dropdown-item {
    color: rgba(0,0,0,.5)
}

.dropdown-item.active {
    color: rgba(0,0,0,.9);
    background-color: #f8f9fa !important
}
